body {
    background-color: cadetblue;   
}

h1 {
    position: relative;
    text-align: center;
    font-size: 3em;
    font-family: "Cormorant Garamond", serif, sans-serif;
}

p {
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
}

.frame {
    width: 80%; /*This helps adjust the box to the middle*/
    margin: 40px auto;
    text-align: center;
    background-color: rosybrown;
}

button {
    margin: 20px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    background: transparent;
    cursor: pointer;
    transition: all 1.5s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.btn-1 {
    border: none;
    background: linear-gradient(0deg, rgba(6,14,131,1));
    background: rgb(6,14,131);
}

.btn-1:hover {
    background: rgb(0,3,255);
    background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}