body {
    color: blue;
    margin: 0em;
    padding: 100px;
}

h1 {
    text-align: center;
}

.block-one {
    border: 2px solid black;
}

p {
    padding-left: 12px;
}  

#outer a {
    display: inline-block;
    line-height: 40px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    width: 200px;
    margin-bottom: 10px;
    background-color: rgb(255, 0, 106);
    color: white;
}

#inner li {
    list-style-type: none;
}

#inner a:hover {
    background-color: rgba(16, 124, 248, 0.842);
    color: white;
} 


span {
    color: black;
}

.special {
    color: black;
}

.main {
    padding: 20px;
    border: 2px solid black;
}

.default {
    color: green;
}

.m1 a{
    color: #000;
}

.m2 a{list-style-type:none;
    color: rgb(248, 68, 14);
}

