<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/skew_grid.css')}}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Happy Birthday</title>
    <style> 
    .section--brands {
        overflow-x: hidden;
        background-image: url(https://source.unsplash.com/hOuJYX2K5DA/1920x1156);
        background-color: #2b2b2b;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover
    }
    </style>
</head>
<body >
    <section class="section--brands with-mask--triangle animate-on-scroll">
        <div class="wrapper">
          <ul class="block">
            <li>
              <h1 class="fz-bigger" data-animate="fadeInLeft" data-animate-delay="">
                <span class="color-invert"></span>
                Happy Birthday
              </h1>
      
              <strong data-animate="fadeInLeft" data-animate-delay=".2">At Last, Anjali is turning 25</strong>
      
              <p data-animate="fadeInLeft" data-animate-delay=".3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
            </li>
      
            <li>
              <a data-animate="fadeInUp" data-animate-delay=".2" href="brands.html">
                <img class="brand-cover" src="https://source.unsplash.com/WGN6ZEFEZbs/416x356" alt="Stockphoto">
                <i class="brand-logo fi fi-behance"></i>
              </a>
            </li>
      
            <li>
              <a data-animate="fadeInUp" data-animate-delay=".3" href="brands.html">
                <img class="brand-cover" src="https://source.unsplash.com/d3bYmnZ0ank/416x356" alt="Stockphoto">
                <i class="brand-logo fi fi-scorp"></i>
              </a>
            </li>
      
            <li>
              <a data-animate="fadeInUp" data-animate-delay=".4" href="brands.html">
                <img class="brand-cover" src="https://source.unsplash.com/cvGPSaoemuw/416x356" alt="Stockphoto">
                <i class="brand-logo fi fi-pingdom"></i>
              </a>
            </li>
      
            <li>
              <a data-animate="fadeInUp" data-animate-delay=".5" href="brands.html">
                <img class="brand-cover" src="https://source.unsplash.com/7QYd1VxLRbM/416x356" alt="Stockphoto">
                <i class="brand-logo fi fi-swift"></i>
              </a>
            </li>
      
            <li>
              <a data-animate="fadeInUp" data-animate-delay=".6" href="brands.html">
                <img class="brand-cover" src="https://source.unsplash.com/0-hB59n1m94/416x356" alt="Stockphoto">
                <i class="brand-logo fi fi-sass"></i>
              </a>
            </li>
      
            <li>
              <a data-animate="fadeInUp" data-animate-delay=".7" href="brands.html">
                <img class="brand-cover" src="https://source.unsplash.com/tg5jQpN5dZM/416x356" alt="Stockphoto">
                <i class="brand-logo fi fi-dockers"></i>
              </a>
            </li>
          </ul>
        </div><!-- End of .wrapper -->
    </section>

</body>
</html>
